- asset = controller_name.singularize
%td{ :valign => :top }
  .label= t('groups')

  = f.hidden_field :group_list,
  {:class => "select2_tag", :data => {:tags => Tag.with_context('groups').all.map{|t| t.name},
  :url => url_for(action: 'field_group'), :placeholder => t(:select_or_create_tags),
  :multiple => true, :asset_id => f.object.try(:id) }}
