%div#versions
  %br
  = subtitle(:version_history, t(:versions))
  %div
    %div
      .list
        - versions = Version.history(object).paginate(:page => 1, :per_page => 20)
        = render :partial => "versions/version", :collection => versions

      = paginate( collection: versions, id: 'versions_pagination', params: { action: 'versions' } )
